<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],["\\(","\\)"]],processEscapes:true}});</script>

    <!--<script src="https://tsmerge.com/static/script.js"></script>-->
    <!--<link rel="stylesheet" href="https://tsmerge.com/static/style.css">-->

    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div style="text-align: right;">
    <code>Created at: 2019-XX-XX</code><br>
    <code>Updated at: 2019-XX-XX</code>
<pre>在长长的一生里 / 为什么 / 欢乐总是乍现就凋落 /
走得最急的都是最美的时光
— 题记
</pre>
</div>

<h1>Template</h1>

<h2>Program Code</h2>
<pre><code>print("hello, world")</code></pre>

<h2>Math Formula</h2>
<p>
    When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$
</p>

<h2>Image Illustrate</h2>
<img src="git-flow.png" alt=""><img src="mountains.jpg" alt="">
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, ea
    eaque error exercitationem expedita illum in laudantium, magnam magni natus
    nihil non, nulla perferendis praesentium quasi quis sit tempore voluptatem!
</p>

<h2>List is useful</h2>
<h3>Unordered list</h3>
<ul>
    <li>everything is local</li>
    <li>fast version control</li>
    <li>distributed is the new centralized</li>
    <li>distributed even if your workflow isnt</li>
</ul>
<h3>Ordered list</h3>
<ol>
    <li>everything is local</li>
    <li>fast version control</li>
    <li>distributed is the new centralized</li>
    <li>distributed even if your workflow isnt</li>
</ol>
<h3>Definition list</h3>
<dl>
    <dt>HTML</dt>
    <dd>Hypertext Markup Language 超文本标记语言</dd>
    <dt>Git</dt>
    <dd>Git is a stupid version control tool</dd>
</dl>

<h2>References can show/hide</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, ea
    eaque error exercitationem expedita illum in laudantium, magnam magni natus
    nihil non, nulla perferendis praesentium quasi quis sit tempore voluptatem!
</p>
<button>show/hide references</button>
<div class="foldable">
    <ol>
        <li>git-scm.com. <a href="https://git-scm.com/doc">Git documentation</a></li>
        <li>mysql.com. <a href="https://dev.mysql.com/doc/refman/8.0/en/index-btree-hash.html">MySQL 8.0 Reference Manual :: 8.3.9 Comparison of B-Tree and Hash Indexes</a></li>
        <li>Lijun Liao. <a href="http://tsmerge.com/">tsmerge</a></li>
    </ol>
</div>

<h2>Another sub-topic</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A error esse et
    iste iure maxime nihil quasi, repellendus saepe sint tenetur ut veniam,
    voluptatum! Aliquam deserunt laborum minus optio reiciendis.
</p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis eaque
    ex facilis id ratione repudiandae rerum sequi tempora voluptas? Distinctio
    eum hic ipsum libero minima necessitatibus quam quo similique.
</p>
<button>show/hide references</button>
<div class="foldable">
    <ol>
        <li>jquery.com. <a href="http://api.jquery.com/on/">Event Delegation - jQuery API</a></li>
    </ol>
</div>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis eaque
    ex facilis id ratione repudiandae rerum sequi tempora voluptas? Distinctio
    eum hic ipsum libero minima necessitatibus quam quo similique.
</p>
</body>
</html>