<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_HTML-full"></script>
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax:{inlineMath:[['$','$'],["\\(","\\)"]],processEscapes:true}});</script>

    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<h1>Template</h1>
<h2>Program Code</h2>
<pre><code>print("hello, world")</code></pre>
<h2>Math Formula</h2>
<p>
    When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
    $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}$$
</p>
<h2>Image Illustrate</h2>
<img src="git-flow.png" alt=""><img src="mountains.jpg" alt="">
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, ea
    eaque error exercitationem expedita illum in laudantium, magnam magni natus
    nihil non, nulla perferendis praesentium quasi quis sit tempore voluptatem!
</p>
<h2>List is useful</h2>
<ul>
    <li>everything is local</li>
    <li>fast version control</li>
    <li>distributed is the new centralized</li>
    <li>distributed even if your workflow isnt</li>
</ul>
<h2>References can show/hide</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, ea
    eaque error exercitationem expedita illum in laudantium, magnam magni natus
    nihil non, nulla perferendis praesentium quasi quis sit tempore voluptatem!
</p>
</body>
</html>