body {
    max-width: 600px;

    margin: 16px auto;

    border: 1px solid #552800;
    border-radius: 5px;
    padding: 12px;
}

/*代码*/
pre {
    background-color: #eee;
    overflow-x: auto;
}

code {
    font-size: 120%;
    margin: 4px;
}

/*图片*/
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    height: 120px;
    margin: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    cursor: pointer;
}

/*列表: 有序列表, 无序列表, 定义列表*/
dt {
    font-weight: bold;
}

/*目录*/
#toc {
    border: 1px solid grey;
    border-radius: 5px;
    outline: 0 solid grey;
    white-space: nowrap; /* 缩略目录使得更美观 */

    width: 275px;
    float: left;
    position: fixed;
    margin-left: -315px;
    margin-top: -10px;
    padding-right: 10px;
}
#toc a { display: block; color: #0E48AA; }
#toc a:link {text-decoration: none;}
#toc a:hover {text-decoration: underline;}
#toc a[title=H1] { font-size:14px; margin-left: 1em;}
#toc a[title=H2] { font-size:13px; margin-left: 1em;}
#toc a[title=H3] { font-size:12px; margin-left: 2.5em;}
#toc a[title=H4] { font-size:11px; margin-left: 3em;}

/*跳到锚点时, 高亮文本然后逐渐消退*/
*:target {
    animation: hl 2.5s;
}
@keyframes hl {
    0% {background: transparent;}
    10% {background: #f8f99a;}
    100% {background: transparent;}
}

.refs {
    color: grey;
}
